.App {
  height: 100vh;
  color: rgb(92, 92, 92);
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto)); */
  margin: 20px;
  margin-bottom: 140px;
}

.color-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 5px;
}

.bg-no-color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.color-box {
  height: 200px;
  width: 140px;
  border-radius: 6px;
  background: cyan;
}

.hex {
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgb(238, 238, 238);
  box-shadow: 0 -6px 8px #a3a3a398;
  background: rgb(240, 240, 240);
}

button {
  border-style: none;
  background: transparent;
  color: rgb(92, 92, 92);
}

.create-color {
  margin: 30px;
  padding: 14px 40px;
  color: white;
  font-size: 1.2rem;
  background: rgb(0, 180, 180);
  border-radius: 6px;
}

.bg-removed {
  display: flex;
  justify-content: center;
  align-items: center;
}
